<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control">
      </div>
      <div
        class="alert alert-danger"
        *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.touched">
        <strong>Please enter a valid email address</strong>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control">
      </div>
      <div 
      class="alert alert-danger" 
      *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.touched">
        <strong>Please enter a password</strong>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
        type="password" 
        id="confirmPassword"
        formControlName="passwordConfirm"
        class="form-control">
      </div>
      <div 
        class="alert alert-danger" 
        *ngIf="!signupForm.controls.passwordConfirm.valid && signupForm.controls.passwordConfirm.touched">
        <strong>Please confirm password</strong>
      </div>
      <div
        class="alert alert-danger"
        *ngIf="errors.passwordError">
          <strong>{{ this.errors.passwordError }}</strong>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
    </form>
    <br>
    <br>
    <p class='text-center'>Already have an account? <a routerLink='/signin'>Sign In</a></p>
  </div>
</div>